RewriteEngine On
RewriteCond %{HTTP_HOST} ^cms.cayenneapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.cms.cayenneapp.com$
RewriteCond %{REQUEST_URI} !cms/
RewriteRule (.*) /cms/$1 [L]
RewriteCond %{HTTP_HOST} ^web.cayenneapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.web.cayenneapp.com$
RewriteCond %{REQUEST_URI} !laravel/public/
RewriteRule (.*) /laravel/public/$1 [L]
